@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { -webkit-tap-highlight-color: transparent; }
  body { font-family: 'Inter', system-ui, sans-serif; }
  .scrollbar-none { -ms-overflow-style: none; scrollbar-width: none; }
  .scrollbar-none::-webkit-scrollbar { display: none; }
  .safe-area-pb { padding-bottom: env(safe-area-inset-bottom, 0px); }
}
